.form,
.formPlaces {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 54px;
}
.form__label,
.formPlaces__label {
  color: black;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  opacity: 0.5;
}

.form__label_name,
.formPlaces__label_name {
  width: 100%;
  font-size: 14px;
  height: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  color: black;
  margin: 0px;
}

.form__label_ocupation,
.formPlaces__label_ocupation {
  width: 100%;
  font-size: 14px;
  height: 16px;
  border-top: none;
  border-right: none;
  border-left: none;
  color: black;
}

.form__submit,
.formPlaces__submit {
  width: 80%;
  height: 50px;
  margin-top: 48px;
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 5px;
  border: solid 1px;
}

.form__submit_disable,
.formPlaces__submit_disable {
  width: 80%;
  height: 50px;
  margin-top: 48px;
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 5px;
  border: solid 1px;
}

.form__submit:hover,
.formPlaces__submit:hover {
  opacity: 0.5;
}
