.popup__profile,
.popup__places {
  padding: 35px 36px;
  width: 33%;
  height: 50%;
  border: none;
  border-radius: 21px;
}

.popup__profile::backdrop,
.popup__places::backdrop {
  backdrop-filter: blur(10px);
}

/* chica */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .popup__profile,
  .popup__places {
    padding: 32px 36px;
    width: 70%;
    height: 50%;
    border: none;
    border-radius: 21px;
  }

  .popup__profile_title,
  .popup__places_title {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 10%;
    color: black;
    margin-bottom: 48px;
  }
}
